{# templates/admin/dashboard.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
	<div>
		<div>
			<h1>Espace administration</h1>
			<p>Cette espace permet de gérer les données de l'API Tissup</p>
		</div>
	</div>
{% endblock %}
